@{
    Layout = null;
    
    ViewBag.Title = "Like";
}
@using project.Models;
@{
    string namee = Session["Instructor"].ToString();
    DatabaseEntities3 ed = new DatabaseEntities3();
    var usrrr = ed.Users.FirstOrDefault(x => x.FirstN.Equals(namee));
    int id = ViewBag.id;
    var a = ed.Likes.Where(x => x.Ques_Id == id && x.Status == 1).Select(x => x).ToList();
    if (a.Count != 0)
    {
        <span>@a.Count Likes</span>
    }

    int flag = 0;
    foreach (var aa in a)
    {
        if (aa.User_Id == usrrr.Id && aa.Status == 1)
        {
            flag = 1;
            <button class="btn-xs" onclick="norating(@id)">Unlike</button>
            break;
        }
        else if (aa.User_Id == usrrr.Id && aa.Status == 0)
        {
            flag = 1;
            <button class="btn-xs" onclick="rating(@id)">Like</button>
            break;
        }

    } if (flag == 0)
    {
        <button class="btn-xs" onclick="rating(@id)">Like</button>
    }
}