@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewBag.Title = "ViewResources";
}
@using project.Models;
@section Scripts{
}
<div class="container" style="margin-top:10%;padding-left:15%;">

    <div style="padding:15px;border-radius:30px;background-color:rgba(191, 216, 216,0.5);width:780px;height:auto;padding-left:15%;">
        <div style="">
            <span style="color:rgb(28, 5, 87);font-size:x-large;font-family: cursive;margin-left:27%;">Resources</span><br><br>

            <table border="1" style="border-color:white;">
                <tr>
                    <td style="padding:8px;">
                        <span style="color:rgb(28, 5, 87);font-size:large;">
                            Class
                        </span>

                    </td>
                    <td style="padding:8px;">
                        <span style="color:rgb(28, 5, 87);font-size:large;">Instructor</span>
                    </td>

                    <td style="padding:8px;">
                        <span style="color:rgb(28, 5, 87);font-size:large;">Request Status</span>
                    </td>
                </tr>

                @foreach (SClass i in ViewBag.classes)
                {
                    <tr>
                        <td style="padding:8px;">
                            <span style="color:white;">@i.NameOfClass</span>
                        </td>
                        <td style="padding:8px;">
                            @foreach (Instructor i1 in ViewBag.ins)
                            {
                                foreach (User u in ViewBag.usr)
                                {
                                    if (i.Instructor_Id == i1.Id && i1.User_Id == u.Id)
                                    {
                                        <span style="color:white;">@u.FirstN</span>
                                    }
                                }
                            }
                        </td>

                        <td style="padding:8px;">

                            <form action="/Student/AddRequest" method="post">
                                <input type="hidden" name="CName" value="@i.NameOfClass" />
                                @if (ViewBag.req.Count == 0)
                                {
                                    <button type="button" class="btn btn-info" data-dismiss="modal">Send Request</button>
                                }
                                else
                                {
                                    int flag = 0;
                                    foreach (Request r in ViewBag.req)
                                    {
                                        if (i.Id == r.C_Id && r.Accept == 0)
                                        {
                                            <button type="button" class="btn btn-info disabled" data-dismiss="modal">Request Sent</button>
                                            flag = 1;
                                            break;
                                        }
                                        else if (i.Id == r.C_Id && r.Accept == 1)
                                        {
                                            <button type="button" class="btn btn-info disabled" data-dismiss="modal">Accepted</button>
                                            flag = 1;
                                            break;
                                        }

                                    }
                                    if (flag == 0)
                                    {
                                        <input type="submit" class="btn btn-info" data-dismiss="modal" value="Send Request" />

                                    }
                                }
                            </form>
                        </td>
                    </tr>

                }
            </table>


        </div>
    </div>

</div>
